<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Coiny|Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    <script src="/main.js"></script>
</head>
<body>
    <h1><%=thisPokemon.name%></h1>
    <img src="<%=thisPokemon.img%>"><br>
    <form action="/pokemon/<%=id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%=thisPokemon.name%></button>
    </form>
    <a href="/pokemon"><button type="submit">Go Back to Your Pokemon</button></a>
</body>
</html>